# SPDX-FileCopyrightText: © 2026 Toon Verstraelen <Toon.Verstraelen@UGent.be>
# SPDX-License-Identifier: Apache-2.0

nvidia-cuda-cupti<13.0
nvidia-cuda-nvrtc<13.0
nvidia-cuda-runtime<13.0
nvidia-nccl-cu13<0a0
nvidia-cudnn-cu13<0a0
nvidia-cusparselt-cu13<0a0
nvidia-nvshmem-cu13<0a0
